body{ 
  counter-reset: Serial;
  font-family: sans-serif;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  font-size: 16px;
  padding: 8px;
}

tr td:first-child:before
		{
		  counter-increment: Serial;      
		  content: counter(Serial); 
		}

.add {
  border: none;
  background-color: #6044df;
  border-radius: 2px;
  color: #170b14;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.add:hover {
  background-color: #7bdc5b;
}

.table th {
  background-color: #728fd1;
  color: #cad0ca;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.edit{
  border-style: none;
  background-color: transparent;
  color: #4744df;
  cursor: pointer;
  text-decoration: underline solid #5b44df;
}
.delete{
  border-style: none;
  background-color: transparent;
  color: #cb190c;
  cursor: pointer;
  text-decoration: underline solid #ef0909;
}
/********************************************/
.modal-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(208, 212, 216);
  display: none;
  font-family: "Poppins", sans-serif;
  left: 50%;
  position: fixed;
  padding: 20px;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 40%;
  z-index: 9999;
}

.msg-content {
  position: absolute;
  top: 0;
  right: 20px;
}

.content {
  position: relative;
  backdrop-filter: blur(5px);
  top: 30px;
  width: 100%;
  z-index: 9998;
}

.content.active {
  filter: blur(6px);
  pointer-events: none;
  user-select: none;
}
.modal-body {
  overflow: auto;
}

.modal-box {
  margin: 30px auto;
  position: relative;
  text-align: end;
  width: 80%;
}

.close {
  color: #dd1010;
  cursor: pointer;
  font-size: 26px;
  position: absolute;
}

.modal-box .close:hover {
  color: #c6c6c6;
}

.input-control {
  position: relative;
  width: 80%;
}

.head-college {
  text-align: center;
}

.icon {
  font-size: 20px;
  position: absolute;
  padding: 10px;
}

.input {
  padding: 10px 0 13px 60px;
  width: 60%;
}

.form-group {
  margin: 20px auto 20px auto;
}

.place {
  padding: 10px 0 13px 60px;
  width: 70%;
}

.submit,
.gender {
  width: 80%;
}

#register {
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 70%;
}

#register:hover {
  background-color: #c8521f;
}

/* toast */
.toast {
  box-shadow: 0 0 10px rgba(119, 249, 6, 0.947);
  background-color: #ffffff;
  color: #47e812;
  margin: 10px;
  padding: 16px;
  width: 18%;
  z-index: 9999;
}

.error-toast {
  box-shadow: 0 0 10px rgba(249, 38, 6, 0.947);
  background-color: #ffffff;
  color: #e82712;
  margin: 10px;
  padding: 16px;
  width: 18%;
  z-index: 9999;
}

